body {
    margin: 0px;
    padding: 60px;
    background-color: beige;   
}

h1 { 
    text-align: center;
    color: darkblue;
}
.error {
    color: red;
    font-style: italic;
}
.container {
    text-align: center;
    background-color: rgb(211, 204, 204);
}

a {
    color: purple;
}
nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}