{% extends "base.html" %}

{% block content %}
    
    <form method='post'>
        <h1 class="main">Add a blog</h1>
        <hr />
        <div class="container">
        <label>
            
            Blog title <br>
            <input type="text" name='blog_title' size="30" class="main"/>
        </label>
        <br>
        <br>
        <label>
            Blog content <br>
            <textarea name='blog' rows="5" cols="60"></textarea>
        </label>
        <br>
        <br>
        <input type="submit" value='Add Blog' />
        </div>
    </form>

    <hr />

{% endblock %}
