{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Add a blog</h1>
</div>
    <form method='post'>
        
        <div class="container">
        <label>   
            Blog title <br>
            <input type="text" name='blog_title' size="30" class="main" value="{{blog_title}}"/>
        </label>
        <p class="error">{{title_error}}</p>
        <br>
        <label>
            Blog content <br>
            <textarea name='blog' rows="5" cols="60" value="{{blog}}"></textarea>
        </label>
        <p class="error">{{blog_error}}</p>       
        <br>
        <input type="submit" value='Add Blog' />
        </div>
    </form>

    <hr />

{% endblock %}
