{% extends "base.html" %}

{% block content %}
    <h1>Build a blog</h1>
    <form method='post'>
        <label>
            New blog:
            <input type="text" name='blog_title' />
        </label>
        <label>
            Content:
            <input type="text" name='blog' />
        </label>
        <input type="submit" value='Add Blog' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs added</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.blog_title}}
                <form method="POST" action="/add_a_blog" >
                    <input type="hidden" name="blog-id" value="{{blog.blog_id}}" />
                    <input type="submit" value="Added !" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    
{% endblock %}