{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
        <h1>{{title}}</h1>
</div>
{% if providers|length == 0 %}
    <p>No providers added</p>
{% else %}

    <ul>
        {% for provider in providers %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a href="/tour?provider={{provider.username}}">{{provider.username}}</a></h3></div>
        </div>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %} 