{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
        <h1>{{title}}</h1>
</div>
<hr>
    {% if blogs|length == 0 %}
        <p>No blogs added</p>
    {% else %}
        <ul>
            {% for blog in blogs %}
            <div class="panel panel-default">
                    <div class="panel-heading"><h3><a href="/blog?blog_id={{blog.blog_id}}">{{blog.blog_title}}</a></h3></div>
                    <div class="panel-body">{{blog.blog}}</div>
                    <div class="panel-footer">author by <a href="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></div>
            </div>
          <!-- <hr> -->
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
